@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Lexend;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	@apply bg-lightGray text-bodyBlack;
}

#app {
	@apply h-[100dvh] w-[100dvw] overflow-auto flex flex-col;
}

.has-error {
	@apply relative after:content-[attr(data-error)] after:text-primaryRed after:absolute after:m-auto after:top-[100%] after:left-0;
}

.has-error[data-error]:not([data-error='']) {
	@apply !border-primaryRed;
}

.text-sub {
	@apply text-[12px] mdlg:text-[14px];
}

.text-base {
	@apply text-[14px] mdlg:text-[16px];
}

.text-title {
	@apply text-[18px] mdlg:text-[20px];
}

.text-title2 {
	@apply text-[20px] mdlg:text-[22px];
}

::-webkit-scrollbar {
	width: 1px;
	height: 0;
}

::-webkit-scrollbar-thumb {
	/* background: #4e474788; */
	border-radius: 100px;
	cursor: pointer;
}

a {
	cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition:
		background-color 600000s 0s,
		color 600000s 0s;
}
input[data-autocompleted] {
	background-color: transparent !important;
}

/* Top bar loader */

@keyframes loader-animation {
	0% {
		left: -80%;
	}
	49% {
		left: 80%;
	}
	50% {
		left: 80%;
	}
	100% {
		left: -80%;
	}
}

.loader-bar {
	width: 100%;
	position: absolute;
	height: 5px;
	background-color: #3219af;
	animation-name: loader-animation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
